In [1]:
import numpy as np
import pandas as pd

In [2]:
def calculate(lst):
    if len(lst) != 9:
        raise ValueError("List must contain nine numbers.")

    # Convert list to 3x3 Numpy array
    matrix = np.array(lst).reshape(3, 3)

    # Compute statistics
    calculations = {
        'mean': [matrix.mean(axis=0).tolist(), matrix.mean(axis=1).tolist(), matrix.mean().tolist()],
        'variance': [matrix.var(axis=0).tolist(), matrix.var(axis=1).tolist(), matrix.var().tolist()],
        'standard deviation': [matrix.std(axis=0).tolist(), matrix.std(axis=1).tolist(), matrix.std().tolist()],
        'max': [matrix.max(axis=0).tolist(), matrix.max(axis=1).tolist(), matrix.max().tolist()],
        'min': [matrix.min(axis=0).tolist(), matrix.min(axis=1).tolist(), matrix.min().tolist()],
        'sum': [matrix.sum(axis=0).tolist(), matrix.sum(axis=1).tolist(), matrix.sum().tolist()]
    }

    return calculations

In [3]:
# Example test case
test_input = [0,1,2,3,4,5,6,7,8]
result = calculate(test_input)
result

{'mean': [[3.0, 4.0, 5.0], [1.0, 4.0, 7.0], 4.0],
 'variance': [[6.0, 6.0, 6.0],
  [0.6666666666666666, 0.6666666666666666, 0.6666666666666666],
  6.666666666666667],
 'standard deviation': [[2.449489742783178,
   2.449489742783178,
   2.449489742783178],
  [0.816496580927726, 0.816496580927726, 0.816496580927726],
  2.581988897471611],
 'max': [[6, 7, 8], [2, 5, 8], 8],
 'min': [[0, 1, 2], [0, 3, 6], 0],
 'sum': [[9, 12, 15], [3, 12, 21], 36]}

In [4]:
pd.DataFrame(result, index=['Columns', 'Rows', 'Flattened'])

,mean,variance,standard deviation,max,min,sum
Columns,"[3.0, 4.0, 5.0]","[6.0, 6.0, 6.0]","[2.449489742783178, 2.449489742783178, 2.44948...","[6, 7, 8]","[0, 1, 2]","[9, 12, 15]"
Rows,"[1.0, 4.0, 7.0]","[0.6666666666666666, 0.6666666666666666, 0.666...","[0.816496580927726, 0.816496580927726, 0.81649...","[2, 5, 8]","[0, 3, 6]","[3, 12, 21]"
Flattened,4.0,6.666667,2.581989,8,0,36